name: run linter and unit tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        make setup

    - name: Run linter
      run : make lint


    - name: Verify no uncommitted changes from "make lint"
      run: |
          git init && git add . && make lint
          GEN_DIFF=$(git status -s)
          if [ -n "$GEN_DIFF" ]; then
              echo '"make lint" resulted in the following untracked changes:' 1>&2
              git diff
              echo '"make lint" resulted in changes not in git' 1>&2
              git status
              exit 1
          fi

    - name: Run unit tests
      run: make test
