name: run linter and unit tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Cache Conan packages
      uses: actions/cache@v3
      with:
        path: ~/.conan2
        key: conan-ubuntu-${{ hashFiles('conanfile.py') }}
        restore-keys: |
          conan-ubuntu-

    - name: Run linter and check formatting
      run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-19
          find ./src -type f \( -name \*.cpp -o -name \*.hpp \) | xargs clang-format-19 --dry-run --Werror --style=file

    - name: Install dependencies
      run: |
        make setup

    - name: Run unit tests
      run: make test
